A set is a collection which is unordered, unchangeable*, and unindexed.Sets are written with curly brackets.Set items are unordered, unchangeable, and do not allow duplicate values.Once a set is created, you cannot change its items, but you can remove items and add new items.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'abc', 'male'}

To determine how many items a set has, use the len() function.

It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'apple', 'cherry'}

Set doesn't have access by number index.Set do not allow duplicate values. When we include duplicate value to a set, then the duplicate is ignored and set remains unchanged.

To add one item to a set use the add() method

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}